*{
    margin: 5px;
    padding: 5px;
}

body {
	font-family: 'Wellfleet';
	width: 100%;
	height: 100%;
	background-color: rgba(138, 196 ,255, 0.8);
	background-repeat: repeat-x;
}

.wrapper {
	width: 320px;
}

.container {
	border-radius: 5px;
	border: 5px solid;
	border-color: #ffffff;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * 																					 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 */ 
input {
	width: 70px;
	height: 45px;
	font-family: 'Wellfleet';
	font-size: 14px;
	text-align: center;
}

#totalMultiplier {
	padding: 0px;
	width: 50px;
	height: 45px;
	background-color: rgba(255, 255 ,255, 1);
	float: right;
	text-align: center;
	vertical-align: middle;
	line-height: 45px;

}

.button {
	width: 100px;
	height: 45px;
	z-index: 1;
	float: right;
	background-color: rgba(255, 255 ,255, 1);
	border-radius: 10px;

	color: #ff7162;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
	line-height: 45px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * 																					 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 */ 
.table {
	margin-top: 80px;
	border-radius: 5px;
	background-color: rgba(255, 255 ,255, 1);
}

.firstCol {
	width: 50px;
	display: inline-block;
}
.secondCol {
	width: 150px;
	right: 10px;
	display: inline-block;
	text-align: right;
}